Year-4/Enterprise-System-Software/Lab-Test-1/invoice_company_B.xsd

<?xml version="1.0"?>
<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://www.dit.ie"
			xmlns="http://www.dit.ie"
			elementFormDefault="qualified">
			
	<xs:element name="invoice_document">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inv_number" type="xs:positiveInteger"/>	<!-- Invoice Number -->
				<xs:element name="inv_date" type="xs:date"/>				<!-- Invoice Date -->	
				<xs:element name="generated_by" type="xs:string"/>			<!-- Issued/Generated By -->
				
				<!-- These are the various stakeholders involved -->
				<xs:element name="parties">
					<xs:complexType>
						<xs:sequence>				
							<xs:element name="bill_to">						<!-- Bill To -->
								<xs:complexType>
									<xs:sequence>
										<xs:element name="surname" type="xs:string"/>	<!-- Name -->
										<xs:element name="address">						<!-- Address -->
											<xs:complexType>
												<xs:sequence>
													<xs:element name="number" type="xs:positiveInteger"/>
													<xs:element name="street" type="xs:string"/>
													<xs:element name="city" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>				
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<!-- Invoice Items -->
				<xs:element name="items">
					<xs:complexType>
						<xs:sequence>				
							<xs:element name="item" maxOccurs="unbounded" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item_name" type="xs:string"/>
										<xs:element name="price" type="xs:decimal"/>
										<xs:element name="quantity" type="xs:positiveInteger"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>							
						</xs:sequence>
					</xs:complexType>	
				</xs:element>
				
				<xs:element name="payment_info" type="xs:string"/>
				
				<!-- The total of the quantities for all items -->
				<xs:element name="quantity_total">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minExclusive value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<!-- The total value of the invoice (total price * quantity for all items) -->
				<xs:element name="invoice_total">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minExclusive value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>				
				
			</xs:sequence>
		</xs:complexType>							
	</xs:element>
</xs:schema>


















